# Ignore node_modules
/frontend/node_modules/

# Ignore other common files and directories
node_modules
.DS_Store
.env
dist
build
*.log
.idea
.vscode
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd